.hero {
    background-image: linear-gradient(to right, rgba(1,1,122,.4), rgba(1,1,122,1));
}

.title {
    color: white;
    text-align: center;
}

.green {
    color: green;
}

.yellow {
    color: orange;
}

.red {
    color: red;
}

.btn {
    background-color: lightblue;
}

.btn2 {
    background-color: lightblue;
    border-radius: 15px;
    width: 180px;
    text-align: center;
}

.showDaily {
    padding-left: 40px;
}

ul {
    list-style-type: none;
  }